<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Major or Minor</title>
</head>
<body>
  <form action="/check" method="POST">
    <input name="age" placeholder="How old are you?">
    <button type="submit">Check</button>
  </form>
</body>
</html>
